spring:
  application:
    name: flowlinker-events
  jackson:
    serialization:
      write-dates-as-timestamps: false
    deserialization:
      adjust-dates-to-context-time-zone: false
  data:
    mongodb:
      uri: mongodb+srv://melges:620toi79GCy3m58g@db-mongodb-nyc3-95531-3e685911.mongo.ondigitalocean.com/flowlinker_events?retryWrites=true&w=majority&authSource=admin
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest
    virtual-host: /

server:
  port: 9090

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: when_authorized

logging:
  level:
    root: INFO
    org.springframework.amqp: INFO
    org.springframework.data.mongodb: INFO
    com.flowlinker.events: DEBUG


